body {
    text-align: center;
    background-color: black;
    color: white;
}

#app {
    background-color: #252525;
    margin: 30px;
    border-radius: 20px;
}

#balance-display h2 {
    color: orange;
}

.input-text {
    margin-bottom: 10px;
}

